.form-group {
  background-color: hsla(0,0%,95%,.2);
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #333;
  padding: 50px 20px;
}

.user-panel-section {
  max-width: 960px;
  margin: auto;
}

.user-panel-header {
  background: #fafafa;
  padding-bottom: 5px;
  margin-bottom: 17px;
}

.input-sizer {
  width: 250px;
}

.block-display {
  display: block;
}

td {
  padding: 10px;
}

.mat-card-actions {
  display: flex;
}

.mat-card-header .mat-card-title {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0;
}

.mat-card-header .mat-card-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 24px 0 10px;
  background: #dbdbdb;
  clear: both;
}

mat-select {
  min-width: 250px;
  margin: 10px;
}

.user-presentation-textarea {
  margin: 10px;
}

.mat-card-header {
  justify-content: center;
}
