<form (ngSubmit)="addUser(userForm.value)" novalidate [formGroup]="userForm" enctype="multipart/form-data"
      class="container">
  <section class="section user-panel-section">
    <header class="user-panel-header">
      <mat-toolbar>
        <span class="fill-flex"></span>
        <button mat-button [disabled]="!userForm.valid" type="submit">
          <mat-icon>save</mat-icon>
          Sauvegarder
        </button>
      </mat-toolbar>
      <app-user-block [user]="userForm.value"></app-user-block>
    </header>
    <main class="content">
      <p [hidden]="!userForm.hasError('error')">
        {{userForm.getError('error')}}
      </p>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Information de base</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input class="input" placeholder="Nom / Prénom / Pseudonyme" formControlName="name" id="Name"
                     type="text"/>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <input class="input" placeholder="Adresse email" formControlName="email" id="Email" type="text" required/>
              <span class="help is-danger"
                    *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">
                  L'adresse email est requise et doit etre correcte
                </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Description</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
                <textarea maxlength="100" class="textarea"
                          formControlName="log" placeholder="Texte de présentation" id="Log" type="text">
                  {{userForm.get('log').value}}
                </textarea>
              <p class="help is-normal">{{userForm.get('log').value.length}} /100</p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Rôle</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select formControlName="role">
                  <option *ngFor="let role of roles" [value]="role">
                    {{role}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Liens réseaux sociaux</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded has-icons-left" color="primary">
              <input class="input" placeholder="Facebook" formControlName="facebook" id="fb" type="text"/>
              <span class="icon is-small is-left">
                <i class="icon-facebook"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded has-icons-left" color="primary">
              <input class="input" placeholder="Twitter" formControlName="twitter" id="tw" type="text"/>
              <span class="icon is-small is-left">
                <i class="icon-twitter"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded has-icons-left" color="primary">
              <input class="input" placeholder="Instagram" formControlName="instagram" id="in" type="text"/>
              <span class="icon is-small is-left">
                <i class="icon-instagram"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded has-icons-left" color="primary">
              <input class="input" placeholder="Site web" formControlName="website" id="we" type="text"/>
              <span class="icon is-small is-left">
                <i class="icon-globe"></i>
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Changer d'avatar</label>
        </div>
        <div class="field-body form-group">
          <div *ngIf="currentStatus === STATUS_SUCCESS || currentStatus === STATUS_FAILED">
            <!--SUCCESS-->
            <div class="margin-20" *ngIf="currentStatus === STATUS_SUCCESS">
              <p>{{ uploadedFiles.length }} fichier(s) uploadé avec succès.</p>
              <p>
                <a href="javascript:void(0)" (click)="resetUpload()">Nouvel upload</a>
              </p>
            </div>

            <!--FAILED-->
            <div class="margin-20" *ngIf="currentStatus === STATUS_FAILED">
              <p>l'upload a echoué.</p>
              <p>
                <a href="javascript:void(0)" (click)="resetUpload()">Essayer encore</a>
              </p>
            </div>
          </div>
          <div class="file">
            <label class="file-label">
              <input class="file-input" id="Avatar" type="file" (change)="avatarFileChange()"
                     accept="image/*"/>
              <span class="file-cta">
                <span class="file-icon">
                  <mat-icon>file_upload</mat-icon>
                </span>
                <span class="file-label">
                  Choisir une image...
                </span>
              </span>
            </label>
          </div>
          <input class="input" formControlName="avatar" id="AvatarUrl" type="text"/>
          <p *ngIf="currentStatus === STATUS_INITIAL">
            Glissez vos fichiers<br>
            ou cliquez
          </p>
          <p *ngIf="currentStatus === STATUS_SAVING">
            Téléchargement du fichier...
          </p>
        </div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">S&eacute;curit&eacute;</label>
        </div>
        <div class="field-body">
          <div class="field">
            <button mat-button type="button"
                    (click)="changePassword($event)">Changer de mot de passe
            </button>
            <button mat-button type="button"
                    (click)="rebootPassword($event)">Reinitialiser le mot de passe
            </button>
          </div>
        </div>
      </div>
    </main>
  </section>
</form>
