<section class="hero is-fullheight">
  <!-- Hero header: will stick at the top -->
  <header class="hero-head">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/webzine">
          <img src="/logo-small.png" alt="Meta 9, le webzine qui dévore et digère la Bande Dessinée">
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <span class="navbar-item" style="font-weight: bold;color: #00d1b2;">
          Le webzine qui dévore et digère la Bande Dessinée !
        </span>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Cat&eacute;gories
            </a>

            <div class="navbar-dropdown">
              <!-- Other navbar items -->
              <a class="navbar-item" (click)="getCategory('Vie de l\'association')">
                Vie de l'association
              </a>
              <a class="navbar-item" (click)="getCategory('Bande Dessinée')">
                Bande Dessin&eacute;e
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
