<mat-card class="loginCard">
  <mat-card-header>
    <img class="loginLogo" [src]="'logo.png'" alt="Meta 9">
  </mat-card-header>


  <mat-card-content>
    <form (ngSubmit)="onSubmit(form.get('login').value,form.get('password').value)" novalidate [formGroup]="form">

      <ul class="has-text-centered" [hidden]="!form.hasError('error')">
        <li class="has-text-danger" >{{form.getError('error')}}</li>
      </ul>


      <mat-input-container class="full"  color="primary">
        <input matInput formControlName="login" type="text" required placeholder="Adresse e-mail">
      </mat-input-container>

      <mat-input-container class="full" color="primary"  >
        <input matInput formControlName="password" id="PasswordInput" type="password" required placeholder="Mot de passe">
      </mat-input-container>


      <p class="tb__loginPanel__form__error" [hidden]="form.get('password').valid || form.get('password').untouched">

      </p>

        <button class="full" mat-raised-button color="primary" [disabled]="fetching || !form.valid || form.pristine" type="submit">
          Connexion
        </button>

    </form>
  </mat-card-content>
</mat-card>
