.loginCard {
  margin: 20px auto;
  max-width: 720px;
}

.loginCard mat-input-container.full, .loginCard button.full {
  width: 257px;
  margin: 30px auto;
}

.loginCard .mat-card-header {
  padding-bottom: 20px;
}

.loginCard .mat-input-container, .loginCard button {
  display: block;
}

.loginLogo {
  margin: auto;
}
