<div class="container">
  <section class="section">
    <header>
      <h1 class="title">Tableau de bord</h1>
    </header>
    <main>
      <p>Travaux en cours...</p>
    </main>
  </section>
</div>
