
  <h1 mat-dialog-title>System message</h1>

  <div mat-dialog-content>
    {{message}}
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close aria-label="close dialog window">Close</button>
  </div>

