.user-block {
  display: flex;
  flex-direction: row-reverse;
  height: 100px;
  max-width: 500px;
  margin: 20px auto;
  text-align: justify;
  background: #fff;
  border: 1px solid;
}

.user-block__description, .user-block__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-block__description {
  padding: 0 50px;
}

.user-block__description h2 {
  font-size: 16px;
}

.user-block__description p {
  font-size: 12px;
}

.user-block__description h2,.user-block__description p{
  margin: 0;
}

.user-block__avatar {
  width: 100px;
  height: 98px;
  display: inline-block;
}

.user-block__links {
  list-style: none;
  font-size: 21px;
  display: inline;
  margin: 0;
  padding: 0;
}

.user-block__links li {
  display: inline;
}

.user-block__links a, .user-block__description h2 a {
  color: #333;
  text-decoration: none;
}

.user-block__links a:hover, .user-block__links a:focus {
  color: #111;
}

.user-block a:active {
  color: #333;
}

.facebook::before {
  content: "\f051";
  font-family: "mfg_labs_iconsetregular";
}

.twitter::before {
  content: "\f057";
  font-family: "mfg_labs_iconsetregular";
}

.instagram::before {
  content: "\f05e";
  font-family: "mfg_labs_iconsetregular";
}

.website::before {
  content: "\f018";
  font-family: "mfg_labs_iconsetregular";
}


