<section class="user-block mat-elevation-z1">
  <img [src]="user.avatar || 'assets/avatar.png'" alt="Avatar de l'auteur" class="user-block__avatar"/>
  <div class="user-block__description">
    <h2><a href="{{user.website ? user.website : user.facebook}}" rel="author">{{user.name}}</a></h2>
    <p>
      {{user.log}}
    </p>
    <ul class="user-block__links">
      <li *ngIf="user.facebook"><a class="facebook" [href]="user.facebook"></a></li>
      <li *ngIf="user.twitter"><a class="twitter" [href]="user.twitter"></a></li>
      <li *ngIf="user.instagram"><a  class="instagram" [href]="user.instagram"></a></li>
      <li *ngIf="user.website"><a  class="website" [href]="user.website"></a></li>
    </ul>
  </div>
</section>
