<form [formGroup]="postForm" enctype="multipart/form-data" class="fill-height">
    <mat-toolbar>
      <button type="button" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <span>Options pour l'article</span>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button type="button"  mat-menu-item [disabled]="!currentPost" (click)="openCoverModal()">
          <mat-icon>image</mat-icon>
          <span>Image de fond</span>
        </button>
        <hr/>
        <button type="submit" mat-menu-item (click)="savePost()">
          <mat-icon>save</mat-icon>
          <span>Sauvegarder</span>
        </button>
        <button type="reset"  mat-menu-item (click)="deletePost()" [disabled]="!currentPost">
          <mat-icon>delete</mat-icon>
          <span>Supprimer</span>
        </button>
      </mat-menu>
      <mat-input-container floatPlaceholder="never" class="editor-article-title fill-flex" color="primary">
        <input matInput type="text" placeholder="Titre" formControlName="title" required/>
      </mat-input-container>
      <mat-select class="editor-category-select"
                 placeholder="" floatPlaceholder="never" color="accent" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-toolbar>

  <app-tinymce
    [elementId]="'my-editor-id'"
    (onEditorKeyup)="keyupHandlerFunction($event)"
    [form]="postForm.controls['body']"
  >
  </app-tinymce>

</form>

