<div class="tile is-ancestor is-vertical comic-page">
  <h1>Cliquez sur l'une des cases pour en d&eacute;couvrir le contenu !</h1>
    <div class="tile is-parent content comic-row">
      <a *ngFor="let post of firstRow" class="tile is-child comic-box hero"
         routerLink="/webzine/article/{{post._id}}"
         [ngStyle]="
         {
          background: 'url(' + post.cover + ')',
         'background-repeat': 'no-repeat',
         'background-size': 'cover',
         'margin': '10px !important'
         }">
        <section class="hero-body">
          <header class="comic-balloon">
            <h1 class="title">{{post.title}}</h1>
          </header>
        </section>
      </a>
    </div>

    <div class="tile is-parent content comic-row">
      <a *ngFor="let post of secondRow" class="tile is-child comic-box hero"
         routerLink="/webzine/article/{{post._id}}"
         [ngStyle]="
           {
            background: 'url(' + post.cover + ')',
           'background-repeat': 'no-repeat',
           'background-size': 'cover',
           'margin': '10px !important'
           }">
        <section class="hero-body">
          <header class="comic-balloon">
            <h1 class="title">{{post.title}}</h1>
          </header>
        </section>
      </a>
    </div>
</div>


<nav class="tile is-parent">
  <a *ngIf="links.previous"
    class="comic-balloon tile is-child" (click)="loadPageContent(false)">Page pr&eacute;c&eacute;dente</a>
  <span class="tile is-child is-8"></span>
  <a *ngIf="links.next"
    class="comic-balloon tile is-child" (click)="loadPageContent(true)">Page suivante</a>
</nav>

