.mat-sidenav-container {
  position: absolute !important;
  bottom: 0;
  top: 64px;
  left: 0;
  right: 0;

}

.checker-article-viewer-sidenav li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
