<mat-sidenav-container>
    <mat-sidenav mode="side" disableClose="true" opened="true">
      <nav>
        <button mat-button class="full" (click)="openDialog()">Ajouter un utilisateur</button>
        <table>
          <tbody>
            <tr *ngFor="let user of users;">
              <td>
                <button mat-button (click)="triggerUserPanel(user)">
                {{user?.name}}
                </button>
              </td>
              <td>
                <button mat-button (click)="deleteUser(user)"><i class="icon-cross_mark"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </nav>
    </mat-sidenav>

    <app-user-panel *ngIf="userPanelShow" [user]="selectedUser" (onUserModification)="reloadUsers()"></app-user-panel>

  </mat-sidenav-container>
