<header mat-dialog-title="">
  <h1>Changer de mot de passe</h1>
</header>
<form (submit)="changePassword()" #changePasswordForm="ngForm" mat-dialog-content>
  <mat-input-container class="full" color="primary">
    <input matInput [(ngModel)]="oldPassword" name="oldPassword" placeholder="Mot de passe" type="password">
  </mat-input-container>
  <mat-input-container class="full" color="primary">
    <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmer le mot de passe"
           type="password">
  </mat-input-container>
  <mat-input-container class="full" color="primary">
    <input matInput [(ngModel)]="newPassword" name="newPassword" placeholder="Nouveau mot de passe" type="password">
  </mat-input-container>
  <button mat-button type="submit">
    Changer de mot de passe
  </button>
</form>
<footer mat-dialog-actions>
  <span class="mat-input-error">{{message}}</span>
</footer>
