
<div class="appWrapper">
    <mat-toolbar color="accent">

      <button [matMenuTriggerFor]="tbNavigationMenu" type="button" mat-icon-button><mat-icon>menu</mat-icon></button>
      <mat-menu #tbNavigationMenu="matMenu" [overlapTrigger]="false" posX="after" posY="below">
        <mat-nav-list>
          <h3 mat-subheader>Gestion du contenu</h3>
          <mat-list-item routerLink='editor/{{currentUser._id}}'>
            <mat-icon mat-list-icon>create</mat-icon>
            <h4 mat-line>Créer</h4>
            <p mat-line>Des articles, des BDs</p>
          </mat-list-item>
          <mat-list-item routerLink="publisher">
            <mat-icon mat-list-icon>public</mat-icon>
            <h4 mat-line>Publier</h4>
            <p mat-line>Distribuer au monde ! </p>
          </mat-list-item>
          <mat-list-item routerLink="checker">
            <mat-icon mat-list-icon>visibility</mat-icon>
            <h4 mat-line>Éditer</h4>
            <p mat-line>Relecture, mise en forme...</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>share</mat-icon>
            <h4 mat-line>Communiquer</h4>
            <p mat-line>les réseaux sociaux !</p>
          </mat-list-item>
          <mat-list-item *ngIf="currentUser.role === 'Admin'" routerLink='user-management'>
            <mat-icon mat-list-icon>person_add</mat-icon>
            <h4 mat-line>Gestion des utilisateurs</h4>
            <p mat-line>Comptes, droits...</p>
          </mat-list-item>
        </mat-nav-list>
      </mat-menu>

      <a mat-button routerLink="/cms"><img class="toolbarImage" src="logo-small.png" alt="Méta 9 - Gestion" /></a>


      <span class="fill-flex"></span>

      <a mat-icon-button [matMenuTriggerFor]="tbUserContextMenu"><img class="tb-avatar" [src]="currentUser.avatar ? currentUser.avatar : '/avatar.png'"/></a>
      <mat-menu #tbUserContextMenu="matMenu" [overlapTrigger]="false" posX="before" posY="below">
        <mat-nav-list>
          <mat-list-item routerLink="/cms/profile">
            <mat-icon mat-list-icon>face</mat-icon>
            <h4 mat-line>{{currentUser?.name}}</h4>
            <p mat-line>R&ocirc;le : {{currentUser?.role}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Actions</h3>
          <mat-list-item routerLink="/">
            <mat-icon mat-list-icon>public</mat-icon>
            <h4 mat-line>Aller sur le site</h4>
          </mat-list-item>
          <mat-list-item (click)="logout()">
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <h4 mat-line>Se d&eacute;connecter</h4>
          </mat-list-item>
        </mat-nav-list>
      </mat-menu>


    </mat-toolbar>
    <div class="loading-overlay" *ngIf="loading">
      <mat-progress-bar
        color="primary"
        mode="indeterminate">
      </mat-progress-bar>
    </div>

    <router-outlet></router-outlet>

</div>
