.toolbarImage {
  height: 36px;
}

.menu-text {
  margin: 0 10px;
}

.menu-text .mat-icon,.menu-button .mat-icon {
  vertical-align: text-bottom;
}

.menu-button {
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}
