
    <div class="mat-elevation-z1 mat-search-wrapper">
      <mat-icon>search</mat-icon><input matInput type="search" placeholder="Trouver un article..." value="">
    </div>

    <mat-paginator [length]="total"
                  [pageSize]="posts.length"
                  [pageSizeOptions]="[]"
                  (page)="loadPageContent($event)">
    </mat-paginator>

    <mat-nav-list isRippleEnabled="true">
      <mat-list-item class="post-list" *ngFor="let post of posts" (click)="setReleaseDate(post)">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{post.title}}</h4>
        <p mat-line><em>{{publishState(post)}}</em></p>
      </mat-list-item>
    </mat-nav-list>
