<form (submit)="releasePost()"  #releaseForm="ngForm">

  <mat-form-field>
    <input [(ngModel)]="date" matInput [matDatepicker]="picker" name="date" placeholder="Choisir la date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-button type="submit">Publier</button>
</form>
