<mat-sidenav-container>
  <mat-sidenav mode="side" disableClose="true" opened="true" class="mat-elevation-z1">
    <nav class="checker-article-viewer-sidenav">
      <mat-paginator
                    *ngIf="posts"
                    [length]="total"
                    [pageSize]="posts.length"
                    [pageSizeOptions]="[]"
                    (page)="loadPageContent($event)">
      </mat-paginator>
      <mat-nav-list>
        <mat-list-item *ngFor="let post of posts" (click)="setPost(post)">
          <mat-icon mat-list-icon>note</mat-icon>
          <h2 mat-line>
            {{post.title}}
          </h2>
          <p mat-line *ngIf="userNamesMap[post.author]"><em>par</em> {{userNamesMap[post.author].name}}</p>
        </mat-list-item>
      </mat-nav-list>
    </nav>
  </mat-sidenav>

  <app-editor *ngIf="currentPost" [postInput]="currentPost" (onPostModification)="reloadPost($event)"></app-editor>
  <!-- primary content -->
</mat-sidenav-container>
