.mat-sidenav-container {
  position: absolute !important;
  bottom: 0;
  top: 64px;
  left: 0;
  right: 0;
}

.mat-sidenav-content {
  overflow: hidden !important;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
