@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/** Bulma configuration **/
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// Use the new serif family
$family-primary: $family-serif;

// 1152px container + 3rem
$widescreen: 960px + (2 * $gap);
// 1344px container + 3rem
$fullhd: 960px + (2 * $gap);

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

html, body {
  margin: 0;
  padding: 0;
  overflow: auto !important;
}

.flex-column-reverse-display {
  display: flex;
  flex-direction: column-reverse;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.fill-flex {
  flex: 1;
}

.mat-mini-fab--flat {

}

.mat-search-wrapper {
  flex: 1;
  display: flex;
  padding: 10px;
}

.mat-search-wrapper input {
  margin: 0 5px;
  border: none;
  flex: 1;
}

.mat-search-wrapper .mat-icon {
  vertical-align: bottom;
}

.full-height {
  min-height: 100% !important;
}

.comic-box, .tile.is-child.comic-box {
  background-color: $white;
  border: 3px $black-ter solid;
  display: block;
  position: relative;
  height: 250px !important;
  padding: 1.25rem;
  margin: 0 6px !important;
}

.comic-box .comic-balloon {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 8px !important;
  font-family: 'Architects Daughter', cursive;
}

a.comic-box {
  &:hover, &:focus {
    color: $white-bis;
    & .comic-balloon {

    }
  }
  &:active {
    color: $white-bis;
  }
}

*.comic-balloon {
  background-color: #fff;
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  & > * {
    font-size: 14px;
    margin: 0 !important;
    text-transform: uppercase;
  }
}

a.comic-balloon, a.comic-balloon:hover {
  color: black;
}

.comic-row {
  padding: 0 !important;
  &:not(:last-child) {
    margin-bottom: 12px !important;
  }
}

.mat-tab-body-wrapper {
  @extend .hero;
}

.tb-avatar {
  border-radius: 50%;
}

.mat-subheader {
  text-transform: uppercase;
}
