<article class="section">
  <header>
    <h1 class="title is-1">{{posts[0].title}}</h1>
    <p class="subtitle is-3">{{posts[0].posted_on | date}}, dans {{posts[0].category}}</p>
  </header>
  <main class="content is-large" [innerHTML]="posts[0].body | safeHtml">
  </main>
  <footer>
    <app-user-block [user]="posts[0].author"></app-user-block>
  </footer>
</article>
