<form (ngSubmit)="onSubmit()" #newUserForm="ngForm">
<h1 mat-dialog-title>Nouvel utilisateur</h1>

<div mat-dialog-content>

  <mat-chip selected="true"
           color="red"
           *ngIf="model.password !== model.confirm && newUserForm.dirty">
    Les mots de passe ne sont pas identiques.
  </mat-chip>

  <mat-input-container>
    <input required  [(ngModel)]="model.name" name="name"
           placeholder="Nom/pseudo" type="text" matInput />
  </mat-input-container>

    <mat-input-container>
      <input required  [(ngModel)]="model.email" name="email"
             placeholder="Email" type="text" matInput />
    </mat-input-container>

    <mat-input-container>
      <input required  [(ngModel)]="model.password" name="password"
             placeholder="Mot de passe" type="password" matInput />
    </mat-input-container>

  <mat-input-container>
    <input required  [(ngModel)]="model.confirm" name="confirm"
           placeholder="Confirmer le mot de passe" type="password" matInput />
  </mat-input-container>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close aria-label="close dialog window">Annuler</button>
  <button  mat-button type="submit">Envoyer</button>
</div>
</form>
